# Flutter/Dart build artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android build
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/local.properties
android/GeneratedPluginRegistrant.java
android/key.properties
*.jks

# iOS build
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner/GeneratedPluginRegistrant.*

# Dart/Flutter
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Env files
.env
.env.*
